form {
  padding: 32px;
}

mat-form-field {
  margin-right: 32px;
}

#correct-option {
  display: inline-block;
  margin-right: 32px;
  margin-bottom: 32px;
}

mat-radio-button {
  margin-right: 16px;
}
