form {
  padding: 32px;
  max-width: 384px;
  margin: 0 auto;
}

mat-form-field {
  display: block;
}

#correct-option {
  display: inline-block;
  margin-right: 32px;
  margin-bottom: 32px;
}

mat-radio-button {
  margin-right: 16px;
}

#update-btn-container {
  text-align: right;
}
