<mat-toolbar class="mat-elevation-z2">
  <span>Questions</span>
</mat-toolbar>

<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Question</mat-label>
    <textarea matInput required formControlName="value"></textarea>
    <mat-error> Question is <strong>required</strong> </mat-error>
  </mat-form-field>

  <div id="correct-option">
    <h5>Correct Option</h5>
    <mat-radio-group color="primary" formControlName="correct">
      <mat-radio-button
        *ngFor="let option of options; index as i"
        [value]="option"
        [checked]="i === 0"
        >{{ option }}</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <mat-form-field *ngFor="let option of optionControls">
    <mat-label>Option {{ option.get('index')?.value }}</mat-label>
    <textarea
      matInput
      required
      [formControl]="$any(option.get('value'))"
    ></textarea>
    <mat-error>
      Option {{ option.get('index')?.value }} is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div id="update-btn-container">
    <button mat-raised-button color="primary" type="submit">Update</button>
  </div>
</form>
